<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>This Is Me | About</title>
        <link rel="stylesheet" href="../css/global_styles.css" />
        <link rel="stylesheet" href="../css/about_styles.css" />
    </head>

    <body>
        <%- include("navbar.ejs") %>

    </body>
</html>
