<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mathis Jean | About</title>
        <link rel="stylesheet" href="../css/global_styles.css">
        <link rel="stylesheet" href="../css/about_styles.css">
    </head>

    <body>
        <%- include("navbar.ejs") %>

        <div class="hero">
            <p class="hint">Scroll to Zoom</p>

            <div class="hex_background no_select fade">
                <!-- 1–22 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 23 -->
                <div class="hex blur"></div>

                <!-- 24–34 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 35 -->
                <div class="hex blur"></div>
                
                <!-- 36–38 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 39 -->
                <div class="hex blur"></div>

                <!-- 40-57 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 58 -->
                <div class="hex blur"></div>

                <!-- 59–68 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 69 -->
                <div class="hex blur"></div>

                <!-- 74–93 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 94 -->
                <div class="hex blur"></div>

                <!-- 95–108 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 109 -->
                <div class="hex blur"></div>

                <!-- 110–128 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
            </div>
        </div>
    </body>

    <script defer src="../js/global_script.js"></script>
    <script defer src="../js/about_script.js"></script>
</html>