<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>This Is Me | Contact</title>
        <link rel="stylesheet" href="../css/global_styles.css">
        <link rel="stylesheet" href="../css/contact_styles.css">
    </head>


    <body>
        <%- include("navbar.ejs") %>

        <div class="hero">
            <div class="hero_title_container">
                <h1 class="hero_title" style="opacity: 0;">Let's Build</h1>
                <h2 class="hero_subtitle" style="opacity: 0; color: var(--accent-orange);">Your next project starts here.</h2>
            </div>  

            <p id="zoom" class="hint">Scroll to Zoom</p>
            <p id="click" class="hint">Click to Navigate</p>
            
            <form action="https://formspree.io/f/xyzppvzy" method="post">
                <label>
                    Name
                    <input type="text" id="name" name="name" required>
                </label>

                <label>
                    Email
                    <input type="email" id="email" name="email" required>
                </label>

                <label>
                    Subject
                    <textarea id="message" name="message" style="height:200px" required></textarea>
                </label>

                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>

            <div class="hex_background no_select fade">
                <!-- 1–128 Hexes -->
                <div class="hex blur"></div> <!-- 1 -->
                <div class="hex blur"></div> <!-- 2 -->
                <div class="hex blur"></div> <!-- 3 -->
                <div class="hex blur"></div> <!-- 4 -->
                <div class="hex blur"></div> <!-- 5 -->
                <div class="hex blur"></div> <!-- 6 -->
                <div class="hex blur"></div> <!-- 7 -->
                <div class="hex blur"></div> <!-- 8 -->
                <div class="hex blur"></div> <!-- 9 -->
                <div class="hex blur"></div> <!-- 10 -->
                <div class="hex blur"></div> <!-- 11 -->
                <div class="hex blur"></div> <!-- 12 -->
                <div class="hex blur"></div> <!-- 13 -->
                <div class="hex blur"></div> <!-- 14 -->
                <div class="hex blur"></div> <!-- 15 -->
                <div class="hex blur"></div> <!-- 16 -->

                <div class="hex blur"></div> <!-- 17 -->
                <div class="hex blur"></div> <!-- 18 -->
                <div class="hex blur"></div> <!-- 19 -->
                <div class="hex blur"></div> <!-- 20 -->
                <div class="hex blur"></div> <!-- 21 -->
                <div class="hex blur"></div> <!-- 22 -->
                <div class="hex blur"></div> <!-- 23 -->
                <div class="hex blur"></div> <!-- 24 -->
                <div class="hex blur"></div> <!-- 25 -->
                <div class="hex blur"></div> <!-- 26 -->
                <div class="hex blur"></div> <!-- 27 -->
                <div class="hex blur"></div> <!-- 28 -->

                <div class="hex" style="background-image: url(/img/contact_1.jpg);" onclick="window.open('https://www.linkedin.com/in/mathis-jean-897399378/', '_blank');" data-bg-color="#ffffff" data-bg-img="/img/contact_1.jpg"> <!-- 55 -->
                    <p>LinkedIn</p>
                </div>

                <div class="hex blur"></div> <!-- 30 -->
                <div class="hex blur"></div> <!-- 31 -->
                <div class="hex blur"></div> <!-- 32 -->

                <div class="hex blur"></div> <!-- 33 -->
                <div class="hex blur"></div> <!-- 34 -->
                <div class="hex blur"></div> <!-- 35 -->
                <div class="hex blur"></div> <!-- 36 -->
                <div class="hex blur"></div> <!-- 37 -->
                <div class="hex blur"></div> <!-- 38 -->

                <div class="hex" style="background-image: url(/img/contact_2.jpg);" onclick="window.open('mailto:mathisojean@hotmail.com', '_blank');" data-bg-color="#ffffff" data-bg-img="/img/contact_2.jpg"> <!-- 77 -->
                    <p>Email</p>
                </div>

                <div class="hex blur transparent"></div> <!-- 40 -->
                <div class="hex blur transparent"></div> <!-- 41 -->
                <div class="hex blur"></div> <!-- 42 -->
                <div class="hex blur transparent"></div> <!-- 43 -->
                <div class="hex blur"></div> <!-- 44 -->
                <div class="hex blur"></div> <!-- 45 -->
                <div class="hex blur"></div> <!-- 46 -->
                <div class="hex blur"></div> <!-- 47 -->
                <div class="hex blur"></div> <!-- 48 -->

                <div class="hex blur"></div> <!-- 49 -->
                <div class="hex blur"></div> <!-- 50 -->
                <div class="hex blur"></div> <!-- 51 -->
                <div class="hex blur"></div> <!-- 52 -->
                <div class="hex blur"></div> <!-- 53 -->
                <div class="hex blur"></div> <!-- 54 -->
                <div class="hex blur transparent"></div> <!-- 55 -->
                <div class="hex blur transparent"></div> <!-- 56 -->
                <div class="hex blur transparent"></div> <!-- 57 -->
                <div class="hex blur transparent"></div> <!-- 58 -->
                <div class="hex blur transparent"></div> <!-- 59 -->
                <div class="hex blur "></div> <!-- 60 -->
                <div class="hex blur"></div> <!-- 61 -->
                <div class="hex blur"></div> <!-- 62 -->
                <div class="hex blur"></div> <!-- 63 -->
                <div class="hex blur"></div> <!-- 64 -->

                <div class="hex blur"></div> <!-- 65 -->
                <div class="hex blur"></div> <!-- 66 -->
                <div class="hex blur"></div> <!-- 67 -->
                <div class="hex blur"></div> <!-- 68 -->
                <div class="hex blur "></div> <!-- 69 -->
                <div class="hex blur transparent"></div> <!-- 70 -->
                <div class="hex blur transparent"></div> <!-- 71 -->
                <div class="hex blur transparent"></div> <!-- 72 -->
                <div class="hex blur transparent"></div> <!-- 73 -->
                <div class="hex blur transparent"></div> <!-- 74 -->
                <div class="hex blur"></div> <!-- 75 -->
                <div class="hex blur"></div> <!-- 76 -->
                <div class="hex blur"></div> <!-- 77 -->
                <div class="hex blur"></div> <!-- 78 -->
                <div class="hex blur"></div> <!-- 79 -->
                <div class="hex blur"></div> <!-- 80 -->

                <div class="hex blur"></div> <!-- 81 -->
                <div class="hex blur"></div> <!-- 82 -->
                <div class="hex blur"></div> <!-- 83 -->
                <div class="hex blur"></div> <!-- 84 -->

                <div class="hex" style="background-image: url(/img/contact_3.jpg);" onclick="window.open('https://github.com/MathisJean', '_blank');" data-bg-color="#ffffff" data-bg-img="/img/contact_3.jpg"> <!-- 85 -->
                    <p>GitHub</p>
                </div>

                <div class="hex blur"></div> <!-- 86 -->
                <div class="hex blur"></div> <!-- 87 -->
                <div class="hex blur transparent"></div> <!-- 88 -->
                <div class="hex blur transparent"></div> <!-- 89 -->
                <div class="hex blur"></div> <!-- 90 -->
                <div class="hex blur"></div> <!-- 91 -->
                <div class="hex blur"></div> <!-- 92 -->
                <div class="hex blur"></div> <!-- 93 -->
                <div class="hex blur"></div> <!-- 94 -->
                <div class="hex blur"></div> <!-- 95 -->
                <div class="hex blur"></div> <!-- 96 -->

                <div class="hex blur"></div> <!-- 113 -->
                <div class="hex blur"></div> <!-- 114 -->
                <div class="hex blur"></div> <!-- 115 -->
                <div class="hex blur"></div> <!-- 116 -->
                <div class="hex blur"></div> <!-- 117 -->
                <div class="hex blur"></div> <!-- 118 -->
                <div class="hex blur"></div> <!-- 119 -->
                <div class="hex blur"></div> <!-- 120 -->
                <div class="hex blur"></div> <!-- 121 -->
                <div class="hex blur"></div> <!-- 122 -->
                <div class="hex blur"></div> <!-- 123 -->
                <div class="hex blur"></div> <!-- 124 -->
                <div class="hex blur"></div> <!-- 125 -->
                <div class="hex blur"></div> <!-- 126 -->
                <div class="hex blur"></div> <!-- 127 -->
                <div class="hex blur"></div> <!-- 128 -->

                <div class="hex blur"></div> <!-- 113 -->
                <div class="hex blur"></div> <!-- 114 -->
                <div class="hex blur"></div> <!-- 115 -->
                <div class="hex blur"></div> <!-- 116 -->
                <div class="hex blur"></div> <!-- 117 -->
                <div class="hex blur"></div> <!-- 118 -->
                <div class="hex blur"></div> <!-- 119 -->
                <div class="hex blur"></div> <!-- 120 -->
                <div class="hex blur"></div> <!-- 121 -->
                <div class="hex blur"></div> <!-- 122 -->
                <div class="hex blur"></div> <!-- 123 -->
                <div class="hex blur"></div> <!-- 124 -->
                <div class="hex blur"></div> <!-- 125 -->
                <div class="hex blur"></div> <!-- 126 -->
                <div class="hex blur"></div> <!-- 127 -->
                <div class="hex blur"></div> <!-- 128 -->
            </div>

            <div class="slideshow scroll_hide"></div>
        </div>
    </body>

    <script defer src="../js/global_script.js"></script>
    <script defer src="../js/contact_script.js"></script>
</html>