<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>This Is Me | Error</title>
        <link rel="stylesheet" href="../css/global_styles.css">
        <link rel="stylesheet" href="../css/error_styles.css">
    </head>

    <body>
        <%- include("navbar.ejs") %>

        <div class="hero">
            <div class="hero_title_container">
                <h1 class="hero_title" style="opacity: 0;">404 Error</h1>
                <h2 class="hero_subtitle" style="opacity: 0; color: var(--accent-coral);">Couldn't find this page.</h2>
            </div>  

            <p id="zoom" class="hint">Scroll to Zoom</p>
            <p id="click" class="hint">Click to Navigate</p>

            <div class="hex_background no_select fade">
                <!-- 1–22 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 23 -->
                <div class="hex blur"></div>

                <!-- 24–34 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <div class="hex" style="background-image: url(/img/error_1.jpg);" onclick="window.location.href = '/contact'" data-bg-color="#ffffff" data-bg-img="/img/error_1.jpg">
                    <p>To Contact</p>
                </div>

                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 35 -->
                <div class="hex blur"></div>
                
                <!-- 36–38 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <div class="hex" style="background-image: url(/img/error_2.jpg);" onclick="window.location.href = '/home'" data-bg-color="#ffffff" data-bg-img="/img/error_2.jpg">
                    <p>To Home</p>
                </div>

                <!-- 39 -->
                <div class="hex blur"></div>

                <!-- 40-57 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 58 -->
                <div class="hex" style="background-image: url(/img/error_3.jpg);" onclick="window.location.href = '/projects'" data-bg-color="#ffffff" data-bg-img="/img/error_3.jpg">
                    <p>To Projects</p>
                </div>

                <!-- 59–68 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 69 -->
                <div class="hex blur"></div>

                <!-- 74–93 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <div class="hex" style="background-image: url(/img/error_4.jpg);" onclick="window.location.href = '/about'" data-bg-color="#ffffff" data-bg-img="/img/error_4.jpg">
                    <p>To About</p>
                </div>

                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 94 -->
                <div class="hex blur"></div>

                <!-- 95–108 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 109 -->
                <div class="hex blur"></div>

                <!-- 110–128 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
            </div>

            <div class="slideshow scroll_hide"></div>
        </div>
    </body>

    <script defer src="../js/global_script.js"></script>
    <script defer src="../js/error_script.js"></script>
</html>