<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mathis Jean | Home</title>
        <link rel="stylesheet" href="../css/global_styles.css">
        <link rel="stylesheet" href="../css/home_styles.css">
    </head>

    <body>
        <%- include("navbar.ejs") %>

        <div class="hero">
            <div class="hero_title" style="opacity: 0;">
                <h1 class="">This Is Me</h1>
            </div>             

            <div class="hero_subtitle" style="opacity: 0;">
                <h2>Developer. Designer. Innovator.</h2>
            </div>

            <p class="hint">Scroll to Zoom</p>

            <div class="hex_background no_select fade">
                <!-- 1–27 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>                
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 28 -->
                <div class="hex" style="background-image: url(/img/this_is_me_1.jpg);" data-bg-color="#FF6B6B" data-bg-img="/img/this_is_me_1.jpg">
                    <p>Click Me</p>
                </div>

                <!-- 29–37 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 38 -->
                <div class="hex" style="background-image: url(/img/this_is_me_2.jpg);" data-bg-color="#FFE66D" data-bg-img="/img/this_is_me_2.jpg">
                    <p>Click Me</p>
                </div>

                <!-- 39–41 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 42 -->
                <div class="hex" style="background-image: url(/img/this_is_me_3.jpg);" data-bg-color="#4D96FF" data-bg-img="/img/this_is_me_3.jpg">
                    <p>Click Me</p>
                </div>
                                                    
                <!-- 43–71 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 72-->                
                <div class="hex" style="background-image: url(/img/this_is_me_4.jpg);" data-bg-color="#843B62" data-bg-img="/img/this_is_me_4.jpg">
                    <p>Click Me</p>
                </div>

                <!-- 73 -->
                <div class="hex" style="background-image: url(/img/this_is_me_6.jpg);" data-bg-color="#FF9F1C" data-bg-img="/img/this_is_me_6.jpg">
                    <p>Click Me</p>
                </div>
                            
                <!-- 74–82 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>                
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                            
                <!-- 83 -->
                <div class="hex" style="background-image: url(/img/this_is_me_5.jpg);" data-bg-color="#2EC4B6" data-bg-img="/img/this_is_me_5.jpg">
                    <p>Click Me</p>
                </div>
                            
                <!-- 84–93 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 94 -->
                <div class="hex" style="background-image: url(/img/this_is_me_7.jpg);" data-bg-color="#1E1E24" data-bg-img="/img/this_is_me_7.jpg">
                    <p>Click Me</p>
                </div>

                <!-- 95–108 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 109 -->
                <div class="hex" style="background-image: url(/img/this_is_me_8.jpg);" data-bg-color="#2E8B57" data-bg-img="/img/this_is_me_8.jpg">
                    <p>Click Me</p>
                </div>

                <!-- 110–128 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
            </div>
        </div>
    </body>

    <script defer src="../js/global_script.js"></script>
    <script defer src="../js/home_script.js"></script>
</html>