<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>This Is Me | Home</title>
        <link rel="stylesheet" href="../css/global_styles.css">
        <link rel="stylesheet" href="../css/home_styles.css">

        <meta property="og:title" content="This Is Me" />
        <meta property="og:description" content="Portfolio of Mathis Jean" />
        <meta property="og:image" content="https://www.mathisjean.me/img/this_is_me_4.jpg" />
        <meta property="og:url" content="https://www.mathisjean.me/home" />
        <meta property="og:type" content="website" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="This Is Me" />
        <meta name="twitter:description" content="Portfolio of Mathis Jean" />
        <meta name="twitter:image" content="https://www.mathisjean.me/img/this_is_me_4.jpg" />
    </head>

    <body>
        <%- include("navbar.ejs") %>

        <div class="hero">
            <div class="hero_title_container">
                <h1 class="hero_title" style="opacity: 0;">This Is Me</h1>
                <h2 class="hero_subtitle" style="opacity: 0; color: var(--accent-green);">Developer. Designer. Innovator.</h2>
            </div>             

            <p id="zoom" class="hint">Scroll to Zoom</p>
            <p id="click" class="hint" style="color: white;">Click Images to Navigate</p>

            <div class="hex_background no_select fade">
                <!-- 1–27 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>                
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 28 -->
                <div class="hex" style="background-image: url(/img/this_is_me_1.jpg);" data-bg-color="#ffffff" data-bg-img="/img/this_is_me_1.jpg" onclick="go_to_slide(this)">
                    <p>XC Provincials</p>
                </div>

                <!-- 29–37 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 38 -->
                <div class="hex" style="background-image: url(/img/this_is_me_2.jpg);" data-bg-color="#ffffff" data-bg-img="/img/this_is_me_2.jpg" onclick="go_to_slide(this)">
                    <p>Workspace</p>
                </div>

                <!-- 39–41 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 42 -->
                <div class="hex" style="background-image: url(/img/this_is_me_3.jpg);" data-bg-color="#ffffff" data-bg-img="/img/this_is_me_3.jpg" onclick="go_to_slide(this)">
                    <p>Wrestling</p>
                </div>
                                                            
                <!-- 43–71 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 72-->                
                <div class="hex" style="background-image: url(/img/this_is_me_4.jpg);" data-bg-color="#ffffff" data-bg-img="/img/this_is_me_4.jpg" onclick="go_to_slide(this)">
                    <p>Mathis Jean</p>
                </div>

                <!-- 73 -->
                <div class="hex" style="background-image: url(/img/this_is_me_6.jpg);" data-bg-color="#ffffff" data-bg-img="/img/this_is_me_6.jpg" onclick="go_to_slide(this)">
                    <p>Mid Bout</p>
                </div>
                                    
                <!-- 74–82 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>                
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                                    
                <!-- 83 -->
                <div class="hex" style="background-image: url(/img/this_is_me_5.jpg);" data-bg-color="#ffffff" data-bg-img="/img/this_is_me_5.jpg" onclick="go_to_slide(this)">
                    <p>Nationals</p>
                </div>
                                    
                <!-- 84–93 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 94 -->
                <div class="hex" style="background-image: url(/img/this_is_me_7.jpg);" data-bg-color="#ffffff" data-bg-img="/img/this_is_me_7.jpg" onclick="go_to_slide(this)">
                    <p>Coding Session</p>
                </div>

                <!-- 95–108 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 109 -->
                <div class="hex" style="background-image: url(/img/this_is_me_8.jpg);" data-bg-color="#ffffff" data-bg-img="/img/this_is_me_8.jpg" onclick="go_to_slide(this)">
                    <p>Close Up</p>
                </div>

                <!-- 110–128 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
            </div>

            <div class="slideshow scroll_hide"></div>
        </div>
    </body>

    <script defer src="../js/global_script.js"></script>
    <script defer src="../js/home_script.js"></script>
</html>