<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=4, user-scalable=yes">
        <link rel="stylesheet" href="../css/navbar_styles.css">

        <meta property="og:title" content="This Is Me" />
        <meta property="og:description" content="Portfolio of Mathis Jean" />
        <meta property="og:image" content="https://www.mathisjean.me/img/this_is_me_4.jpg" />
        <meta property="og:url" content="https://www.mathisjean.me/home" />
        <meta property="og:type" content="website" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="This Is Me" />
        <meta name="twitter:description" content="Portfolio of Mathis Jean" />
        <meta name="twitter:image" content="https://www.mathisjean.me/img/this_is_me_4.jpg" />
    </head>

    <body>
        <nav class="navbar">
            <div class="navbar-logo">
                
            </div>

            <ul class="navbar-navigation">
                <li onclick="location.href='../home'">
                    <p>Home</p>
                </li>
                <li onclick="location.href='../projects'">
                    <p>Projects</p>
                </li>
                <li onclick="location.href='../about'">
                    <p>About</p>
                </li>
                <li onclick="location.href='../contact'">
                    <p>Contact</p>
                </li>
            </ul>
        </nav> 
    </body>

    <script defer src=".."></script>
</html>