<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/navbar_styles.css">
    </head>

    <body>
        <nav class="navbar">
            <div class="navbar-logo">
                
            </div>

            <ul class="navbar-navigation">
                <li onclick="location.href='../home'">
                    <p>Home</p>
                </li>
                <li onclick="location.href='../projects'">
                    <p>Projects</p>
                </li>
                <li onclick="location.href='../about'">
                    <p>About</p>
                </li>
                <li onclick="location.href='../contact'">
                    <p>Contact</p>
                </li>
            </ul>
        </nav> 
    </body>

    <script defer src=".."></script>
</html>