<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mathis Jean | Projects</title>
        <link rel="stylesheet" href="../css/global_styles.css">
        <link rel="stylesheet" href="../css/projects_styles.css">
    </head>

    <body>
        <%- include("navbar.ejs") %>

        <p class="hint">Scroll to Zoom</p>

        <div class="hex_background no_select fade">
            <!-- 1–22 -->
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>

            <!-- 23 -->
            <div class="hex" style="background-color: var(--orange);"></div>

            <!-- 24–34 -->
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>

            <!-- 35 -->
            <div class="hex" style="background-color: var(--green);"></div>

            <!-- 36–57 -->
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>

            <!-- 58 -->
            <a class="hex" style="background-color: var(--blue-sky);" target="_blank" href="https://mathisjean.github.io/graphify-statistics/">
                <p class="project">Graphify Statistics</p>
                <p class="action">Click Me</p>
            </a>

            <!-- 59–70 -->
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>

            <!-- 71 -->
            <div class="hex" style="background-color: var(--red);">
                <p class="project">Orientation ESN</p>
                <p class="action">Click Me</p>
            </div>

            <!-- 72–79 -->
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>

            <!-- 80 -->
            <div class="hex" style="background-color: var(--purple);"></div>

            <!-- 81–85 -->
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>

            <!-- 86 -->
            <a class="hex" style="background-color: var(--teal);" target="_blank" href="https://allo77.itch.io/storm-woods">
                <p class="project">Storm Woods</p>
                <p class="action">Click Me</p>
            </a>

            <!-- 87–93 -->
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>

            <!-- 94 -->
            <div class="hex" style="background-color: var(--yellow);"></div>

            <!-- 95–108 -->
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>

            <!-- 109 -->
            <div class="hex" style="background-color: var(--pink);"></div>

            <!-- 110–128 -->
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
            <div class="hex blur"></div>
        </div>
    </body>

    <script defer src="../js/global_script.js"></script>
    <script defer src="../js/projects_script.js"></script>
</html>