<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mathis Jean | Projects</title>
        <link rel="stylesheet" href="../css/global_styles.css">
        <link rel="stylesheet" href="../css/projects_styles.css">
    </head>

    <body>
        <%- include("navbar.ejs") %>

        <div class="hero">
            <p class="hint">Scroll to Zoom</p>

            <div class="hex_background no_select fade">
                <!-- 1–22 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 23 -->
                <div class="hex blur"></div>

                <!-- 24–34 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 35 -->
                <div class="hex blur"></div>
                
                <!-- 36–38 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 39 -->
                <a class="hex" style="background-image: url(/img/projects_1.jpg);" target="_blank" href="https://allo77.itch.io/storm-woods" data-bg-color="#093011" data-bg-img="/img/projects_1.jpg">
                    <p data-bg-color="transparent" style="color: #ffffff;">Storm Woods</p>
                </a>

                <!-- 40-57 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 58 -->
                <a class="hex" style="background-image: url(/img/projects_2.jpg);" target="_blank" href="https://mathisjean.github.io/graphify-statistics/" data-bg-color="#0A334D" data-bg-img="/img/projects_2.jpg">
                    <p data-bg-color="transparent" style="color: white;">Graphify Statistics</p>
                </a>

                <!-- 59–68 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 69 -->
                <a class="hex" style="background-image: url(/img/projects_3.jpg);" target="_blank" href="" data-bg-color="#540B0E" data-bg-img="/img/projects_3.jpg">
                    <p data-bg-color="transparent" style="color: #FFF3B0;">Orientation ESN</p>
                </a>             
                
                <!-- 74–93 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 94 -->
                <div class="hex blur"></div>

                <!-- 95–108 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>

                <!-- 109 -->
                <div class="hex blur"></div>

                <!-- 110–128 -->
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
                <div class="hex blur"></div>
            </div>
        </div>
    </body>

    <script defer src="../js/global_script.js"></script>
    <script defer src="../js/projects_script.js"></script>
</html>