
:root
{
    /* Blues */
    --blue-light: #d1e8ff;      /* Light Blue */
    --blue: #004a75;            /* Medium Blue */
    --blue-dark: #002d47;       /* Dark Blue */

    /* Accent Colors */
    --pink: #e6678a;
    --yellow: #f2c94c; 
    --orange: #f2994a;      
    --teal: #2a9d8f;
    --blue-sky: #4a90e2;
    --purple: #9b51e0;  
    --green: #27ae60;      
    --red: #eb5757; 


  /* Neutrals */
  --grey-light: #e0e0e0;
  --grey-dark: #4a4a4a;
  --black: #000000;
  --white: #ffffff;
  --white-1: #f2f2f2;
  --white-2: #f1f1f1;
  --white-3: #ececec;
}


html
{
    --border-radius: 25px;

    --shadow-drop: 
        inset 4px 3px 2.5px rgba(0, 0, 0, 0.0),
        inset -4px -3px 2.5px rgba(0, 0, 0, 0.0),
        1px 3px 2.5px rgba(0, 0, 0, 0.4),
        -1px -3px 2.5px rgba(0, 0, 0, 0.1);

    --shadow-inset:        
        inset 1px 3px 2.5px rgba(0, 0, 0, 0.4),
        inset -1px -3px 2.5px rgba(0, 0, 0, 0.1),
        4px 3px 2.5px rgba(0, 0, 0, 0.0),
        -4px -3px 2.5px rgba(0, 0, 0, 0.0);

    overscroll-behavior: none;
}

body
{
    margin: 0%;
    padding: 0%;

    overflow-x: hidden;
}

*,
*::after,
*::before
{
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6, a, p
{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard */

    margin: 0%;
}

h1
{
    font-size: 6em;
    font-weight: 700;
}

h2
{
    font-size: 3em;
    font-weight: 700;
}

h3
{
    font-size: 2em;
    font-weight: 400;
}

h4
{
    font-size: 1.25em;
    font-weight: 700;
}

h5
{
    font-size: 1em;
    font-weight: 500;
}

h6, a
{
    font-size: 1em;
    font-weight: 600;
}

.no_select 
{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard */
}

.hex_background
{
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(10, auto);

    background: radial-gradient(circle, white 0%, var(--white-1) 100%);
    background-size: cover;     
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 102vh;

    margin: none;

    padding: 1em;

    transform: scale(2);
    transform-origin: center center;

    transition:
        transform ease-out 0.5s,
        opacity 1s ease;

    overflow-y: hidden;
}

.hex_background::before
{
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, white 0%, var(--white-3) 100%);
  opacity: 0;
  animation: background_pulse 5s ease infinite;
}

@keyframes background_pulse 
{
  0%   { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.fade
{
    opacity: 0;
}

.fade_in
{
    opacity: 1;
}

.blur
{    
  filter: blur(5px);
}

.hex 
{
    display: flex;

    justify-content: center;
    align-items: center;

    color: #000000;
    background: var(--white-2);

    margin-bottom: -30%;

    aspect-ratio: 1.1547;

    clip-path: 
        polygon(
        25% 0%, 75% 0%,
        100% 50%,
        75% 100%, 25% 100%,
        0% 50%
        );

    transition:
        transform 0.2s ease,
        filter 0.1s ease;

    overflow: visible;
}

.hex > p
{
    font-size: 0.6em;
    font-weight: 600;
    font-style: italic;

    transition: opacity 0.1s;
}

.project
{
    transform: scaleX(-1);
}

.hex > .project, .hex:hover > .action
{
    opacity: 0;
}

.hex > .action, .hex:hover > .project
{
    opacity: 1;
}

.hex:hover
{
    filter: brightness(90%);

    transform: rotateY(180deg) rotateX(10deg);
}

.hex:active
{
    filter: brightness(90%);

    transform: rotateY(190deg) rotateX(10deg);
}

.hex p
{
    display: flex;

    position: absolute;
}

@keyframes rotate
{
  from {transform: rotateY(10deg) rotateX(0deg) rotateZ(0deg);}
  to {transform: rotateY(180deg) rotateX(10deg) rotateZ(0deg);}
}

.hex:nth-child(odd)
{
  margin-top: 50%;
}
